@charset "UTF-8";

*, *:before, *:after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
	font: inherit;
}

img, picture, svg, video {
	display: block;
	/*max-width: 100%;*/
}

body {
	min-height: 100vh;
}

html {
	line-height: 1.6rem;
	font-family: Arial, Helvetica, sans-serif;
	scroll-behavior: smooth;
}

a {
	text-decoration: none;
	background-color: transparent;
	outline: none;
	color: var(--bs-card-title-color);
}

li {
	list-style: none;
}

.checkbox {
	opacity: 0;
	position: absolute;
}

.label {
	width: 50px;
	height: 20px;
	background-color: #111;
	display: flex;
	border-radius: 50px;
	align-items: center;
	justify-content: space-between;
	padding: 5px;
	position: relative;
	transform: scale(1.5);
}

.ball {
	width: 20px;
	height: 20px;
	background-color: white;
	position: absolute;
	left: 2px;
	border-radius: 50%;
	transition: transform 0.2s linear;
}

/*  target the elemenent after the label*/
.checkbox:checked+.label .ball {
	transform: translateX(24px);
}

.moon {
	color: pink;
}

.sun {
	color: yellow;
}

.paragraph {
	font-size: 16px;
	line-height: 24px;
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
}

.paragraph-text {
	font-size: 16px;
	line-height: 24px;
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
}

input {
	border: 1px solid #fb5533 !important;
	-webkit-transition: 0.5s !important;
	transition: 0.5s !important;
	outline: none;
}

input:focus {
	border: 1px solid #fb5533 !important;
	box-shadow: 0 0 0 0.1rem #fb5533 !important;
}

/* Sidebar */

.sidebar .active {
	border-radius: 2px;
	box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.sidebar-item.active{
	background-color: rgba(33,37,41, 0.9) !important;
	border-color: rgba(33,37,41, 0.9) !important;
}
.sidebar-item.active.dark{
	background-color: rgb(255,0,0) !important;
	border-color: rgb(255,0,0) !important;
}
.sidebar-item.active.dark>span, .sidebar-item.active.dark>i{
	color: #fff !important;
}
.card-avatar{
	width: 50px;
}
.card-avatar img{
	width: 50px;
	border-radius: 50%;
}
.desc{
	border-top: 1px solid var(--bs-card-title-color);
	width: 100%;
}